.table-container {
  max-width: 992px;
  width: 100%;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.btnBox {

  display: flex;
  justify-content: center;
}
.btnBox button:nth-child(1) {
  padding: 10px 30px;
  color: white;

  background-color: lightblue;
  border: none;
  border-radius: 10px;
}
.btnBox button:nth-child(2) {
  border-radius: 10px;
  padding: 10px 30px;
  border: none;

  margin-left: 10px;
  background-color: grey;
}
.btnBox button:nth-child(3) {
  border-radius: 10px;
  padding: 10px 30px;
  border: none;

  margin-left: 10px;
  background-color: red;
}
.green{
  background-color: green !important;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.modalBox{
  display: flex;
  align-items: center;
}
.modalBox h4{
  margin-left: 10px;
  flex: 50%;
}
.modalBox p{
  margin-left: 10px;
  flex: 50%;
  text-align: right;
}
.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 400px;
  margin: auto;
  height: 300px;
}